*{
    padding:0;
    margin:0;
    box-sizing-border-box ;
}
body{
    font-family: sans-serif  ;
}
.background-image{
    
    background-size: cover;
    background-repeat: no-repeat;
   
    height:100vh;
}


h1{
    color: slateblue;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4px;
}
section > *{
position:relative;
}

p{ color:aliceblue;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    padding:20px;
    display:flex;
    flex-direction: column;
    text-align: justify;
    height:100vh;
    justify-content: center;
    align-items: center;
}
section:nth-of-type(1){
    background-image: url('./img1.jpg');
    background-position: center;
}

section:after{
    content:" ";
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,4);
    z-index:1;

}
